<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>{{ block "title" . }}{{ end }}</title>

        <link rel="stylesheet" type="text/css" href="/static/styles/main.css"></link>
    </head>

    <body data-no-js="true">
        <script>
            document.body.setAttribute('data-no-js', false);
        </script>

        <header>
            <h1>GlobalGiving Projects Project</h1>
        </header>

        <main>
            {{ block "content" . }}
            {{ end }}
        </main>

        <footer>
            <p>Thanks for playing around.</p>
        </footer>

        <script src="/static/scripts/main.js"></script>
    </body>
</html>
